/*! main.css v1.0.1 | MIT License | github.com/agasthian/style.css */
/* Document
   ========================================================================== */
/*
0-600px       :   Phone
600-900px     :   Tablet Portrait
900-1200px    :   Tablet Landscape
[1200-1800] is the normal styles
1800+         :   Big Desktops

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 48em) {
    html {
      font-size: 36%; } }
  @media (max-width: 26.62em) {
    html {
      font-size: 40%; } }
  @media (max-width: 23.5em) {
    html {
      font-size: 38%; } }
  @media (max-width: 20em) {
    html {
      font-size: 35%; } }
  @media (min-width: 26.68em) {
    html {
      font-size: 43%; } }
  @media (min-width: 64em) {
    html {
      font-size: 47%; } }
  @media (min-width: 85.37em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 90em) {
    html {
      font-size: 66%; } }
  @media (min-width: 120em) {
    html {
      font-size: 87.9%; } }
  @media (min-width: 160em) {
    html {
      font-size: 118.7%; } }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Playfair Display', serif; }

h1 {
  font-size: 4rem;
  font-weight: bold; }

p {
  font-size: 1.8rem; }

.btn, .btn:link, .btn:visited {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 10rem;
  position: relative;
  border: none;
  cursor: pointer; }
  @media (max-width: 26.62em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2.2rem;
      color: #000;
      letter-spacing: 2px;
      font-weight: bold; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #333;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--gold {
  color: #fff;
  background-color: #862633; }
  .btn--gold::after {
    background-color: #862633; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #862633;
  border-bottom: 1px solid #862633;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #862633;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.header {
  background-color: #862633;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: #862633;
  font-weight: 500;
  border-bottom: 5px solid #e8ce16;
  -webkit-box-shadow: 0 0 20px 0 black;
  box-shadow: 0 0 20px 0 black; }
  .header .logo {
    width: 14%;
    position: absolute;
    left: 6%;
    top: 1%; }
  .header ul.main-nav {
    display: flex;
    width: 65%;
    justify-content: space-around;
    margin-top: 1%;
    padding-left: 12%;
    font-family: Montserrat; }
    .header ul.main-nav li {
      list-style: none; }
    .header ul.main-nav a {
      text-decoration: none;
      display: block;
      color: #fff; }

.main-nav a {
  color: #34495e;
  font-size: .99em; }

.main-nav a:hover {
  color: #718daa; }

/* ================================= 
  Media Queries
==================================== */
/*-------------------------------------------------------------
# CSS for Footer- ASSET Foundation
--------------------------------------------------------------*/
footer {
  background-color: #333; }
  footer .footer_class {
    margin-top: 2rem; }
    footer .footer_class .content1 {
      margin-bottom: 3%;
      padding-top: 1rem; }
      footer .footer_class .content1 address {
        color: #fff;
        font-family: 'Montserrat', serif;
        font-size: 15px; }
        footer .footer_class .content1 address h3 {
          margin-top: 4%;
          font-family: Montserrat;
          color: #fff; }
      footer .footer_class .content1 p {
        color: #fff;
        font-family: Montserrat;
        text-align: -webkit-center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px; }
        footer .footer_class .content1 p a {
          margin-left: 5%; }
      footer .footer_class .content1 a {
        color: #fff; }
      footer .footer_class .content1 a:visited {
        color: #fff; }
      footer .footer_class .content1 a:hover {
        color: #FFEB3B;
        transition: 0.5s all;
        text-decoration: none; }

.footer2 {
  background-color: #e8ce16;
  text-align: -webkit-center; }

.footer2 p {
  font-family: Montserrat;
  text-transform: uppercase;
  color: #333;
  margin-top: 30px;
  letter-spacing: 2px;
  text-align: center; }

.footer2 img {
  width: 29%; }

/*--------- End of Footer----------*/
/*Container*/
.container {
  max-width: 124rem;
  padding: 0px 4rem;
  margin: 0px auto;
  width: 100%; }

.sectionwrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.heading-full h2 {
  font-family: Montserrat;
  font-size: 30px;
  margin-bottom: auto;
  font-weight: 600;
  margin-top: 0; }

.heading-full h3 {
  font-family: Montserrat;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px; }

/*--------------------------------------------------------------
# Section1 - Slide show in Main page
--------------------------------------------------------------*/
.section1 {
  /* -- News Board --*/ }
  .section1 .slider1 .slide1 {
    height: 405px;
    background: url(./img/slider1/1.jpeg) no-repeat;
    background-size: contain; }
  .section1 .slider1 .slide2 {
    height: 405px;
    background: url(./img/slider1/2.jpeg) no-repeat;
    background-size: contain; }
  .section1 .slider1 .slide3 {
    height: 405px;
    background: url(./img/slider1/6.jpeg) no-repeat;
    background-size: contain; }
  .section1 .slider1 .slide4 {
    height: 405px;
    background: url(./img/slider1/8.jpeg) no-repeat;
    background-size: contain; }
  .section1 .slider1 .slide5 {
    height: 405px;
    background: url(./img/slider1/13.jpeg) no-repeat;
    background-size: cover;
    background-position: top; }
  .section1 .slider1 .slide6 {
    height: 405px;
    background: url(./img/slider1/9.jpeg) no-repeat;
    background-size: cover;
    background-position: center; }
  .section1 .slider1 .slide7 {
    height: 405px;
    background: url(./img/slider1/17.jpeg) no-repeat;
    background-size: cover;
    background-position: top; }
  .section1 .slider1 .slide8 {
    height: 405px;
    background: url(./img/slider1/11.jpeg) no-repeat;
    background-size: contain;
    background-position: top; }
  .section1 .slider1 .slide9 {
    height: 405px;
    background: url(./img/slider1/3.jpeg) no-repeat;
    background-size: cover;
    background-position-y: -190px; }
  .section1 .slider1 .caption {
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: #862633; }
    .section1 .slider1 .caption a:visited {
      color: #e8ce16;
      text-decoration: underline; }
  .section1 #newsboard {
    height: 24em; }
    .section1 #newsboard #bg {
      background-color: #e8ce16;
      margin-left: 10px;
      margin-right: 10px; }
      .section1 #newsboard #bg h3 {
        text-align: center;
        font-family: Montserrat;
        color: #fff;
        font-weight: 600;
        letter-spacing: 4px;
        padding-top: 10px;
        padding-bottom: 10px; }
    .section1 #newsboard ul {
      margin: 0;
      color: #fff;
      list-style: none;
      padding-left: 2px;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      text-align: left; }
    .section1 #newsboard a,
    .section1 #newsboard a:visited {
      color: #fff; }
    .section1 #newsboard hr {
      margin-top: 6px;
      margin-bottom: 6px; }

/*--------------------------------------------------------------
# Section 2 - Special Announcement & News - Desktop CSS
--------------------------------------------------------------*/
.section2 .spl-news {
  margin-top: 40px;
  padding: 4%;
  overflow: hidden;
  background-color: #e8ce16; }
  .section2 .spl-news img.spl-photo {
    float: right;
    width: 227px;
    padding: 1em; }
  .section2 .spl-news .h3-wrapper {
    text-align: -webkit-center; }
    .section2 .spl-news .h3-wrapper h3 {
      font-weight: 600;
      margin-top: 1px;
      background-color: #f5ffff;
      padding: 1%;
      width: 40%;
      text-align: -webkit-center;
      font-weight: 600; }
  .section2 .spl-news p {
    margin-bottom: 0;
    text-align: justify; }
    .section2 .spl-news p span {
      font-weight: bold; }
  .section2 .spl-news p,
  .section2 .spl-news h3 {
    color: #862633;
    font-family: "Poppins", sans-serif; }

.section2 #newsletter-subscribe {
  margin: 3em 0;
  padding-bottom: 1em;
  background-color: #403f3f;
  height: 100%; }
  .section2 #newsletter-subscribe .form {
    color: #fff; }
    .section2 #newsletter-subscribe .form h2 {
      font-family: 'Merriweather', serif;
      margin: 2rem 0;
      font-size: 3rem; }
    .section2 #newsletter-subscribe .form p {
      font-family: "Poppins", sans-serif; }
    .section2 #newsletter-subscribe .form #mc_embed_signup {
      font-family: "Poppins", sans-serif; }
      .section2 #newsletter-subscribe .form #mc_embed_signup .indicates-required {
        font-size: 12px;
        float: right; }
      .section2 #newsletter-subscribe .form #mc_embed_signup label {
        font-weight: 400; }
      .section2 #newsletter-subscribe .form #mc_embed_signup input {
        font-family: "Poppins", sans-serif; }
      .section2 #newsletter-subscribe .form #mc_embed_signup .newsletter-submit-btn-wrapper {
        text-align: center; }
        .section2 #newsletter-subscribe .form #mc_embed_signup .newsletter-submit-btn-wrapper .newsletter-submit {
          font-family: Poppins;
          background-color: #e8ce16;
          font-size: 15px;
          font-weight: 700;
          padding: 0.5em 3em 0.5em 3em;
          margin-top: 0.6em;
          margin-left: -6em;
          border-radius: 0;
          border: 0;
          color: #862633;
          margin-top: 1em;
          box-shadow: none;
          text-shadow: none; }

/*--------------------------------------------------------------
# Section 3 Start - Motto, 5 Elements , 7 wheels 
--------------------------------------------------------------*/
.section3 #motto {
  margin-top: 5em; }
  .section3 #motto .h3-wrapper {
    text-align: -webkit-center;
    margin-bottom: 2em; }
    .section3 #motto .h3-wrapper h3 {
      font-family: "Montserrat", sans-serif;
      margin-top: 1px;
      background-color: #862633;
      color: #fff;
      padding: 1%;
      width: 40%;
      text-align: -webkit-center;
      font-weight: 500; }

.section3 .wrapper-7wheel .video-animation1 iframe {
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
# Section 4 - Special Announcement & News - Desktop CSS
--------------------------------------------------------------*/
.section4 .latestvideo {
  margin-top: 10em; }
  .section4 .latestvideo .h3-wrapper {
    text-align: -webkit-center;
    margin-bottom: 2em; }
    .section4 .latestvideo .h3-wrapper h3 {
      font-family: "Montserrat", sans-serif;
      margin-top: 1px;
      background-color: #862633;
      color: #fff;
      padding: 1%;
      width: 40%;
      text-align: -webkit-center;
      font-weight: 500; }

/*--------------------------------------------------------------
	# Section 5  Quote & Group Photo
	----------------------------------------------------------------*/
.section5 .quote {
  position: relative;
  font-family: 'Merriweather', serif;
  font-size: 1.4em;
  line-height: 1.5em;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: -webkit-center; }
  .section5 .quote:before {
    content: '\201C';
    position: absolute;
    top: 0.25em;
    left: -0.15em;
    color: #e7e6e4;
    font-size: 6em;
    z-index: -1; }

.section5 .visionmisson .h4-wrapper {
  text-align: -webkit-center; }
  .section5 .visionmisson .h4-wrapper h4 {
    font-family: "Montserrat", sans-serif;
    margin-top: 1px;
    background-color: #862633;
    color: #fff;
    padding: 1%;
    width: 40%;
    text-align: -webkit-center;
    font-weight: 500; }

.section5 .asset-intro h4 {
  font-family: "Montserrat", sans-serif; }

.section5 .asset-intro .btn {
  text-shadow: none;
  background: #862633;
  padding: 13px 30px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: none; }

.section5 .asset-intro .btn-4 {
  border-radius: 0;
  color: #fff; }

.section5 .asset-intro .btn-4:hover {
  color: #e8ce16; }

/*--------------------------------------------------------------
# CSS for About Us - ASSET Foundation
--------------------------------------------------------------*/
.about-us {
  margin-top: 10rem; }
  .about-us p {
    font-family: "Poppins", sans-serif; }

.about-us #heading h3 {
  font-family: Montserrat;
  line-height: 43px;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 40px; }

.about-us .bg-img img {
  margin: 0 auto;
  width: 80%; }

.about-us .content h4 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold; }

.about-us .content p,
.about-us .content ul,
.about-us .content ol {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: justify; }

.about-us .content .about-us-video {
  float: right;
  margin-left: 2em; }
