/*! main.css v1.0.1 | MIT License | github.com/agasthian/style.css */

/* Document
   ========================================================================== */

//Color

$color-primary: #862633;
$color-secondary:  #e8ce16;

$color-text-light: #eaeaea;
$color-text-dark: #e1e0e0;

//Font
$font-para:'Poppins', sans-serif;
$font-heading:'Montserrat',sans-serif;