/*--------------------------------------------------------------
  # CSS for Contact Us - ASSET Foundation
  --------------------------------------------------------------*/


  
  .contact {
    margin-top:12rem;
  }
  .contact #heading h3 {
    font-family: Montserrat;
    line-height: 14px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    
  }
  .contact h4 {
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 1rem;
  }
  .contact p {
  
    font-size: 16px;
  }
  .contact address {
    
    font-size: 16px;
  }
  
  .contact-img {
    text-align: center;
  }
  .contact-img2 {
    text-align: center;
    margin-top: 6%;
  }
  