/*--------------------------------------------------------------
# CSS for Trust Financials - ASSET Foundation
--------------------------------------------------------------*/

  .financials {
    margin-top: 10rem;
    #heading {
      h3 {
        font-family: Montserrat;
        line-height: 43px;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
    }


    

    .content{

      #auditor{
        cursor: pointer;
        height: 300px;
        width: 200px;
        margin-bottom: 4rem;
      }
      h4{
        font-family: Montserrat;
        font-size: larger;
      }
      p,ul,ol{
        font-size: 16px;
        text-align: justify;
      }
      .trustee-details{
        img.trustee{
          width: 150px;
          height: 185px;
        }
      }
    }
  }
  
  
